Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [x] Choose your target. Which column in your tabular dataset will you predict?
- [x] Is your problem regression or classification?
- [x] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [x] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [0]:
import pandas as pd

# Data originally from: https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction
train = pd.read_csv("https://raw.githubusercontent.com/BuildABuddha/DS-Unit-2-Applied-Modeling/master/data/airline-satisfaction/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/BuildABuddha/DS-Unit-2-Applied-Modeling/master/data/airline-satisfaction/test.csv")

In [34]:
train.head()

   Unnamed: 0      id  ... Arrival Delay in Minutes             satisfaction
0           0   70172  ...                     18.0  neutral or dissatisfied
1           1    5047  ...                      6.0  neutral or dissatisfied
2           2  110028  ...                      0.0                satisfied
3           3   24026  ...                      9.0  neutral or dissatisfied
4           4  119299  ...                      0.0                satisfied

[5 rows x 25 columns]

"Satisfaction" seems like the obvious choice for a prediction. We'd want to figure out what variables lead to a happy customer, right? It only has two variables, so it's a standard classification problem.

In [35]:
train['satisfaction'].value_counts(normalize=True)

neutral or dissatisfied    0.566667
satisfied                  0.433333
Name: satisfaction, dtype: float64

The majority class only happens 56% of the time, so this is not too imbalanced. We can use a basic accuracy metric. 

As for what metrics we can use to predict our value, the first is useless, just being a duplicate of the index. The id column is also useless, not giving us any useful information. 

The data is not time stamped, so we cannot split it that way. It was already split into a test and train dataset, but we will split a valadation set from the train set.

I might remove gender, customer type, age, and type of travel. These are features of the customer themselves, and are not factors that an airline company can really utilize to maximize customer satisfaction. Predicting what type of customer will walk through the door is beyond their abilities.

In [36]:
train.isnull().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [0]:
def wrangle(X):
    X = X.copy()

    unwanted_columns = ['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age',
                        'Type of Travel']

    for column in unwanted_columns:
        X = X.drop(column, axis=1)
    
    X['Arrival Delay in Minutes'] = X['Arrival Delay in Minutes'].fillna(0)

    return X

train = wrangle(train)
test = wrangle(test)

In [38]:
train.head()

      Class  Flight Distance  ...  Arrival Delay in Minutes             satisfaction
0  Eco Plus              460  ...                      18.0  neutral or dissatisfied
1  Business              235  ...                       6.0  neutral or dissatisfied
2  Business             1142  ...                       0.0                satisfied
3  Business              562  ...                       9.0  neutral or dissatisfied
4  Business              214  ...                       0.0                satisfied

[5 rows x 19 columns]

This data required very minimal data cleaning. I might do some feature engineering later, but for now, this is good enough.