Lambda School Data Science

*Unit 2, Sprint 3, Module 2*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Read New York City property sales data
import pandas as pd
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

In [3]:
df.head()

   BOROUGH             NEIGHBORHOOD  ... SALE PRICE   SALE DATE
0        1                  CHELSEA  ...    $   - 0  01/01/2019
1        1                  FASHION  ...    $   - 0  01/01/2019
2        1                  FASHION  ...    $   - 0  01/01/2019
3        1   GREENWICH VILLAGE-WEST  ...    $   - 0  01/01/2019
4        1  UPPER EAST SIDE (59-79)  ...    $   - 0  01/01/2019

[5 rows x 21 columns]

Your code starts here:

In [4]:
# Change column names: replace spaces with underscores
df.columns = df.columns.str.replace(' ', '_')
df

       BOROUGH             NEIGHBORHOOD  ...     SALE_PRICE   SALE_DATE
0            1                  CHELSEA  ...        $   - 0  01/01/2019
1            1                  FASHION  ...        $   - 0  01/01/2019
2            1                  FASHION  ...        $   - 0  01/01/2019
3            1   GREENWICH VILLAGE-WEST  ...        $   - 0  01/01/2019
4            1  UPPER EAST SIDE (59-79)  ...        $   - 0  01/01/2019
...        ...                      ...  ...            ...         ...
23035        4               ST. ALBANS  ...    $   510,000  04/30/2019
23036        4                SUNNYSIDE  ...    $   355,000  04/30/2019
23037        4                SUNNYSIDE  ...    $   375,000  04/30/2019
23038        4                WOODHAVEN  ...  $   1,100,000  04/30/2019
23039        4                 WOODSIDE  ...    $   569,202  04/30/2019

[23040 rows x 21 columns]

In [5]:
# Get Pandas Profiling Report

In [6]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)

In [7]:
# Q. What's the date range of these property sales in Tribeca?

In [8]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

In [9]:
# Q. What is the maximum SALE_PRICE in this dataset?

In [10]:
# Look at the row with the max SALE_PRICE

In [11]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?

In [12]:
# Keep only the single units

In [13]:
# Q. Now what is the max sales price? How many square feet does it have?

In [14]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

In [15]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

In [16]:
# What are the building class categories?
# How frequently does each occur?

In [17]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)

In [18]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE

In [19]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [20]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?

In [21]:
# Make a judgment call:
# Keep rows where sale price was < $35 million

# Check how many rows you have now. (Should be down to 90 rows.)

In [22]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline

In [23]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.