<a href="https://colab.research.google.com/github/TobyChen320/DS-Unit-2-Applied-Modeling/blob/master/Toby_Chen_DSPT6_Applied_Modeling_2_NBA_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [0]:
# from google.colab import files
# files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"tobychendspt6","key":"72d63383e9d439abffa887f2adb12bdd"}'}

In [0]:
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

In [0]:
# !kaggle datasets download -d justinas/nba-players-data

401 - Unauthorized

In [0]:
# from zipfile import ZipFile
# file_name = "nba-players-data.zip"

# with ZipFile(file_name, 'r') as zip:
#   zip.extractall()
#   print('Done')

FileNotFoundError: ignored

In [0]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Data/all_seasons.csv')
df.head()

   Unnamed: 0        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0           0      Dennis Rodman               CHI  ...   0.479    0.113  1996-97
1           1  Dwayne Schintzius               LAC  ...   0.430    0.048  1996-97
2           2       Earl Cureton               TOR  ...   0.376    0.148  1996-97
3           3        Ed O'Bannon               DAL  ...   0.399    0.077  1996-97
4           4        Ed Pinckney               MIA  ...   0.611    0.040  1996-97

[5 rows x 22 columns]

In [0]:
%matplotlib inline
!pip install category_encoders==2.*
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import category_encoders as ce
import graphviz
from sklearn.tree import export_graphviz
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
from sklearn.tree import DecisionTreeClassifier

Collecting category_encoders==2.*
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.2MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.0.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.18.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.15.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders==2.*) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df['net_rating'].describe()

count    11145.000000
mean        -2.153899
std         12.150611
min       -200.000000
25%         -6.300000
50%         -1.300000
75%          3.200000
max        300.000000
Name: net_rating, dtype: float64

In [0]:
df = df.dropna(subset=['net_rating'])
df['Good'] = df['net_rating'] >= 1
df.head()

   Unnamed: 0        player_name team_abbreviation  ...  ast_pct   season   Good
0           0      Dennis Rodman               CHI  ...    0.113  1996-97   True
1           1  Dwayne Schintzius               LAC  ...    0.048  1996-97   True
2           2       Earl Cureton               TOR  ...    0.148  1996-97  False
3           3        Ed O'Bannon               DAL  ...    0.077  1996-97  False
4           4        Ed Pinckney               MIA  ...    0.040  1996-97  False

[5 rows x 23 columns]

In [0]:
y = df['Good']
y.nunique()

2

In [0]:
y.value_counts(normalize=True)

False    0.630238
True     0.369762
Name: Good, dtype: float64

In [0]:
df['player_name'].nunique()

2235

In [0]:
df['player_name'].unique()

array(['Dennis Rodman', 'Dwayne Schintzius', 'Earl Cureton', ...,
       'Max Strus', 'Norvel Pelle', 'Matt Thomas'], dtype=object)

In [0]:
df['player_name'] = df['player_name'].str.lower()
cardinality = df.select_dtypes(exclude='number').nunique()
high_cardinality = cardinality[cardinality > 50].index.tolist()
high_cardinality

['player_name', 'college', 'country', 'draft_number']

In [0]:
high_cardinality.remove('player_name')
high_cardinality

['college', 'country', 'draft_number']

In [0]:
df = df.drop(columns = high_cardinality)
df.head()

   Unnamed: 0        player_name team_abbreviation  ...  ast_pct   season   Good
0           0      dennis rodman               CHI  ...    0.113  1996-97   True
1           1  dwayne schintzius               LAC  ...    0.048  1996-97   True
2           2       earl cureton               TOR  ...    0.148  1996-97  False
3           3        ed o'bannon               DAL  ...    0.077  1996-97  False
4           4        ed pinckney               MIA  ...    0.040  1996-97  False

[5 rows x 20 columns]

In [0]:
# train = df[(df['season'] >= '1996') & (df['season'] <= '2004')]
# val = df[(df['season'] >= '2005') & (df['season'] <= '2012')]
# test = df[(df['season'] >= '2013') & (df['season'] <= '2020')]
# train.shape, val.shape, test.shape

In [0]:
# Maybe random split would be better.
target = 'Good'
test = df[target]
train, val = train_test_split(df, train_size=0.80, test_size=0.20, random_state=42)

In [0]:
features = train.columns.drop([target, 'season', 'net_rating', 'Unnamed: 0'])
features

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'draft_year', 'draft_round', 'gp', 'pts', 'reb', 'ast',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct'],
      dtype='object')

In [0]:
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_train.shape, y_train.shape, X_val.shape, y_val.shape

((8916, 16), (8916,), (2229, 16), (2229,))

In [0]:
train.groupby('player_name')[target].count().sort_values(ascending=False)

player_name
vince carter         19
paul pierce          17
tim duncan           17
chauncey billups     17
metta world peace    16
                     ..
david wear            1
david vanterpool      1
david noel            1
luke zeller           1
zylan cheatham        1
Name: Good, Length: 2124, dtype: int64

In [0]:
train_wrangled = train.groupby('player_name')[target].any().reset_index()
train_wrangled.head(510)

           player_name   Good
0           a.c. green   True
1        a.j. bramlett  False
2          a.j. guyton  False
3         aaron brooks   True
4         aaron gordon  False
..                 ...    ...
505   demetris nichols   True
506  demetrius jackson   True
507          deng adel  False
508      dennis rodman  False
509    dennis schroder   True

[510 rows x 2 columns]

In [0]:
train_wrangled.shape

(2124, 2)

In [0]:
train_wrangled[target].value_counts(normalize=True)

True     0.594633
False    0.405367
Name: Good, dtype: float64

In [0]:
players = train_wrangled[train_wrangled['Good']==True]
players

             player_name  Good
0             a.c. green  True
3           aaron brooks  True
5             aaron gray  True
6         aaron harrison  True
7          aaron holiday  True
...                  ...   ...
2115      zeljko rebraca  True
2116     zendon hamilton  True
2117        zhaire smith  True
2119     zion williamson  True
2122  zydrunas ilgauskas  True

[1263 rows x 2 columns]

In [0]:
# pipeline = make_pipeline(
#     ce.ordinal.OrdinalEncoder(),
#     DecisionTreeClassifier()
# )
# pipeline.fit(X_train, y_train)
# print(f'Validation accuracy: {pipeline.score(X_val, y_val)}')

Validation accuracy: 0.616868550919695

In [0]:
# majority_class = y_train.mode()[0]
# y_pred = [majority_class] * len(y_val)
# accuracy_score(y_val, y_pred)

0.6289816061013908

In [0]:
# y_pred = pipeline.predict_proba(X_val)[:, 1]
# roc_auc_score(y_val, y_pred)

0.5972423226794681